.beneficios p {
  margin: 0px;
}

.beneficios {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 2px solid #272727;
}

.beneficios-container {
  display: flex;
  align-content: center;
  text-align: center;
  gap: 35px;
  max-width: 1500px;
  margin: 0 auto;
}

.container-menor {
  padding: 100px 80px;
  border-radius: 6px;
  border: 1px solid #272727;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  transition: 0.3s;
}

.container-menor p {
  position: relative;
}

.container-menor p::after {
  content: "";
  width: 0;
  height: 7px;
  border-radius: 9px;
  background: #ff9600;
  display: block;
  transition: width 0.3s ease-in-out;

  position: absolute;
  left: 0;
  bottom: -30px;
}

.container-menor:hover p::after {
  width: 100%;
}

.container-menor:hover {
  border: 1px solid #ff9600;
}

.container-menor:hover h2 {
  color: #ff9600;
}

.icone-ford {
  fill: #efefef;
  stroke: #272727;
}

.container-menor:hover .icone-ford {
  fill: #ff9600;
}
