.beneficios p {
  margin: 0px;
}

.beneficios h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: start;
  margin-left: 190px;
}

.beneficios {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 2px solid #272727;
}

.beneficios-container {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  padding: 20px 150px;
}

.container-menor {
  padding: 100px 80px;
  border-radius: 6px;
  border: 1px solid #272727;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  transition: 0.3s;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc((100% - 700px) / 3);
  min-width: 320px;
}

.container-menor p {
  position: relative;
}

.container-menor p::after {
  content: "";
  width: 0;
  height: 7px;
  border-radius: 9px;
  background: #ff9600;
  display: block;
  transition: width 0.3s ease-in-out;

  position: absolute;
  left: 0;
  bottom: -30px;
}

.container-menor:hover p::after {
  width: 100%;
}

.container-menor:hover {
  border: 1px solid #ff9600;
}

.container-menor:hover h2 {
  color: #ff9600;
}

.icone-ford {
  fill: #efefef;
  stroke: #272727;
}

.container-menor:hover .icone-ford {
  fill: #ff9600;
}
