@import "/css/global/global.css";
@import "/css/utilidades/tipografias.css";
@import "/css/utilidades/cores.css";
@import "/css/global/header.css";
@import "/css/Destaques-mes/destaques.css";
@import "/css/home/inicio.css";
@import "/css/utilidades/components.css";
@import "/css/buscar/search.css";
