.nav-categorias {
  background: #333333;
}

.categorias-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 50px;
  max-width: 1300px;
  margin: 0 auto;
}

.categorias-bg p {
  margin: 0px;
  margin-bottom: 60px;
}

.categorias-bg h1 {
  margin-top: 60px;
}

.container-dos-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 100%;
}

.lista-categoria {
  box-sizing: border-box;
  padding: 100px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  flex-direction: column;
}

.lista-categoria:hover h2 {
  color: #ff9900;
}

.lista-categoria:after {
  content: "";
  display: block;
  width: 0;
  height: 12px;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(255, 153, 0, 0.4) 20.67%,
    rgba(255, 153, 0, 0.4) 67.33%
  );
  border-radius: 0px 0px 6px 6px;
  transition: width 0.3s ease-in-out;
  left: 0;
  bottom: 0;
}

.lista-categoria:hover:after {
  width: 100%;
}

.lista-categoria.suv::before {
  content: "Um novo conceito de design, conforto, tecnologia e segurança";
  color: #bbbfc2;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out,
    margin-top 0.3s ease-in-out;
}

.lista-categoria.suv:hover::before {
  opacity: 1;
  max-height: 100px;
  margin-top: 1rem;
}

.lista-categoria.picapes::before {
  content: "Robustez, Tecnologia e Novas Experiências Ford.";
  color: #bbbfc2;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out,
    margin-top 0.3s ease-in-out;
}

.lista-categoria.picapes:hover::before {
  opacity: 1;
  max-height: 100px;
  margin-top: 1rem;
}

.lista-categoria.esportivos::before {
  content: "Velocidade, potência e adrenalina";
  color: #bbbfc2;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out,
    margin-top 0.3s ease-in-out;
}

.lista-categoria.esportivos:hover::before {
  opacity: 1;
  max-height: 100px;
  margin-top: 1rem;
}

.categorias-bg .suv {
  background-image: url(/img/carros/SUVs.png);
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333333;
}

.categorias-bg .picapes {
  background-image: url(/img/carros/picape.png);
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333333;
}

.categorias-bg .esportivos {
  background-image: url(/img/carros/Esportivo.png);
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333333;
}

@media (max-width: 1000px) {
  .categorias-bg .esportivos {
    background-size: contain;
  }
  .categorias-bg .picapes {
    background-size: contain;
  }
  .categorias-bg .suv {
    background-size: contain;
  }
  .lista-categoria:after {
    display: none;
  }
  .container-dos-cards {
    gap: 15px;
  }
  .lista-categoria {
    padding: 70px;
  }
}

@media (max-width: 925px) {
  .categorias-bg h1 {
    font-size: 3rem;
  }
  .categorias-bg p {
    font-size: 1.5rem;
  }
}

@media (max-width: 625px) {
  .categorias-bg h1 {
    font-size: 2rem;
    margin-top: 20px;
  }
  .categorias-bg p {
    font-size: 1rem;
  }
  .lista-categoria {
    padding: 40px;
  }
  .lista-categoria h2 {
    font-size: 2rem;
  }
}
