.button-utils {
  padding: 12px 60px;
  background-color: #ff9600;
  border-radius: 6px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #363333;
  display: inline-block;
  margin-top: 52px;
}

.button-utils:hover {
  background-color: #ffbd2d;
}
