.cor-branca-fraca {
  color: #f2f2f2;
}

.cor-branca {
  color: #ffffff;
}

.cor-cinza {
  color: #b6b8b9;
}

.cor-laranja {
  color: #ff9600;
}

.cor-preto {
  color: #363333;
}

.cor-azulbebe {
  color: #e9faff;
}
