.text-64px {
  color: #dedfe0;
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-16px {
  color: #b6b8b9;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.text-24px {
  color: #fff;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-36px {
  color: #b6b8b9;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-24px-azul {
  color: #e9faff;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
}
