/* .parceiros ul {
  padding: 0px 30px;
  display: grid;
  max-width: 1500px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.parceiros li {
  display: flex;
  padding: 32px;
  border-left: 1px solid #d9d9d9;
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: 1px solid #d9d9d9;
}

.parceiros img {
  margin: auto;
} */

.brands-inner {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
}

.parceiros span {
  color: coral;
}

.parceiros h1 {
  margin-top: 100px;
  text-align: center;
}

.brands-columns {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.brand-column {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  padding: 20px;
}

.logo-slot {
  width: 200px;
  height: 120px;
  position: relative;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
}

@media (max-width: 625px) {
  .parceiros h1 {
    font-size: 3rem;
  }
}

@media (max-width: 453px) {
  .parceiros h1 {
    font-size: 2rem;
  }
}
