.inicio {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  width: 100%;
  height: 1000px;
  background: lightgray 6.559px -86.711px / 100% 124.883% no-repeat url(/img/carros/tremor.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.picape-bg h1 {
  margin-top: 147px;
  text-align: center;
  color: #dedfe0;
  font-size: 6rem;
  font-weight: 600;
}

.picape-bg p {
  color: #b6b8b9;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}
